<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.pool.Weride">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.READ_PHONE_NUMBERS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_weridet"
        android:label="@string/app_names"
        android:roundIcon="@mipmap/ic_launcher_weridet_round"
        android:screenOrientation="portrait"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:icon,android:label">
        <activity android:name=".map_aciti">

            <!--            <intent-filter>
                            <action android:name="android.intent.action.MAIN" />

                            <category android:name="android.intent.category.LAUNCHER" />
                        </intent-filter>-->
        </activity>
        <!--
            <meta-data
            android:name="firebase_performance_logcat_enabled"
            android:value="true" />
        -->
        <activity android:name=".Util.permission.location_permission" />
        <activity android:name=".Activities.splash"></activity>
        <activity android:name=".Activities.Auth.LoginRegister.signin_activity" />
        <activity android:name=".Activities.Auth.LoginRegister.signup_activity" />
        <activity android:name=".Activities.userType" />
        <activity
            android:name=".Slider_Intro.wallet"
            android:parentActivityName=".Users.Driver.NavHome.driver_nav_drawer" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <activity
            android:name=".Users.Driver.Map.DriverMapActivity"
            android:parentActivityName=".Users.Driver.NavHome.driver_nav_drawer" />
        <activity
            android:name=".Users.Rider.NavHome.rider_nav_layout"
            android:label="Rider" />
        <activity
            android:name=".Users.Driver.NavHome.driver_nav_drawer"
            android:label="Driver" />
        <activity android:name=".Activities.Auth.PhoneNumber.verifyPhoneActivity" />
        <activity android:name=".Activities.Auth.PhoneNumber.PhoneNumberActivity" />
        <activity
            android:name=".Users.Rider.RiderSetting.RiderSettingsActivity"
            android:parentActivityName=".Users.Rider.NavHome.rider_nav_layout" />
        <activity
            android:name=".Users.Driver.setting.DriverSettingsActivity"
            android:parentActivityName=".Users.Driver.NavHome.driver_nav_drawer" />
        <activity android:name=".History.HistoryActivity" />
        <activity android:name=".History.HistorySingleActivity"></activity> <!-- this hould be the staring screen in App other wise app flow will not be Good -->
        <activity android:name=".Slider_Intro.IntroActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MapActivity">
            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>
    </application>

</manifest>